
[Desktop Entry]
Encoding=UTF-8
Exec=lotse
Terminal=false
Type=Application
Categories=GNOME;GTK;Utility;
Name=lotse
GenericName=Geocaching Application
Icon=lotse_icon
